---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AdvantagesSection from "../sections/AdvantagesSection/AdvantagesSection.astro";
import CallbackSection from "../sections/CallbackSection/CallbackSection.astro";
import GallerySection from "../sections/GallerySection/GallerySection.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="min-h-screen w-full flex flex-col items-center justify-center">
        <Hero />
        <CallbackSection />
        <AdvantagesSection />
        <GallerySection />
    </div>
</Layout>
