---
import CallbackForm from "./CallbackForm.vue";
---

<section id="contact" class="section bg-linear-to-r from-pink-50 to-purple-50">
    <div
        class="container flex-center flex-col text-center border border-cyan-300"
    >
        <h2 class="text-4xl font-bold mb-4">Забронировать зеркало</h2>
        <p class="text-xl text-gray-900 mb-12">
            Оставьте заявку, и мы свяжемся с вами в течение 15 минут
        </p>
        <CallbackForm />
    </div>
</section>
