<div class="min-h-screen w-full bg-linear-to-r from-purple-500 to-pink-500">
    <div
        class="container min-h-screen mx-auto px-4 border border-solid border-t-amber-700"
    >
        <h1 class="text-primaryText text-7xl">Селфи зеркало</h1>
    </div>
</div>
