---
import AdvantageCard from "./AdvantageCard.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-left">
    <AdvantageCard
        title="Все гости могут участвовать одновременно"
        description="Не нужно ждать очереди к фотографу"
    />
    <AdvantageCard
        title="Интерактивное развлечение"
        description="Селфи-зеркало — это не просто альтернатива фотографу, это интерактивное развлечение"
    />
    <AdvantageCard
        title="Незабываемые селфи"
        description="Все гости могут сделать селфи с помощью зеркала"
    />
    <AdvantageCard
        title="Веселье и эмоции"
        description="Интерактивное развлечение создает особую атмосферу и незабываемые эмоции"
    />
    <AdvantageCard
        title="Персонализация"
        description="Брендирование рамок, надписей и фонов под тематику вашего мероприятия"
    />
    <AdvantageCard
        title="Экономия времени"
        description="Не нужно собирать всех для групповых фото - каждый делает снимки когда хочет"
    />
</div>
